<a href="https://colab.research.google.com/github/DeepuBenson/Python/blob/main/Practice_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Feel free to modify the code!**

1. Python Arithmetic Operators

In [ ]:
print(123+456) # Addition
print(123-456) # Subtraction
print(123*456) # Multiplication
print(15/6)    # Division
print(15//6)   # Integer Division
print(15**6)   # Exponentiation

579
-333
56088
2.5
2
11390625

2. An example for if (conditional statement)

In [ ]:
a=100
b=20
c=34
if a>b and a>c: 
    print("Largest is", a)
elif b>c:
    print("Largest is", b)
else:
    print("Largest is", c)

Largest is 100

3. An example for a function

In [56]:
def print_even(test_list) :
    for i in test_list:
        if i % 2 == 0:
            yield i
 
# initializing list
test_list = [1, 4, 5, 6, 7, 8, 11]
 
# printing initial list
print ("The original list is : " +  str(test_list))
 
# printing even numbers
print ("The even numbers in list are : ", end = " ")  # Prints the output on the same line.
for j in print_even(test_list):
    print (j, end = " ")

    
# Why the code ' end=" " ' inside the print() statement?

The original list is : [1, 4, 5, 6, 7, 8, 11]
The even numbers in list are :  4 6 8

4. An example for while loop in Python

In [ ]:
a=1
while a <= 10:
    print(a, end=' ')
    a=a+1

1 2 3 4 5 6 7 8 9 10

5. An example for break

In [57]:
for i in range(10):
	if i==5:
		break
	print(i)
 
 # Why numbers 5, 6, 7, 8 and 9 are not printed?

0
1
2
3
4

6. An example for continue in Python

In [58]:
for i in range(10):
	if i==5:
		continue
	print(i)
 

# What is the difference between break and continue?

0
1
2
3
4
6
7
8
9

7. An example for 'for' loop

In [60]:
print("A for loop in Python")
for x in range(10):
    print(x, end=" ")

print("\nAnother for loop in Python")
# What is "\n" at the beginning of print()?

for x in range(2,10,2):
    print(x, end=" ")

A for loop in Python
0 1 2 3 4 5 6 7 8 9
Another for loop in Python
2 4 6 8

8. List and for loop

In [ ]:
lst=[111,222,333]
for x in lst:
    print(x)
lst=['AAA','BBB','CCC']
for x in lst:
    print(x)

111
222
333
AAA
BBB
CCC

9. Tuple and for loop

In [ ]:
tpl=(444,555,666)
for x in tpl:
    print(x)
tpl=('DDD','EEE','FFF')
for x in tpl:
    print(x)

444
555
666
DDD
EEE
FFF

10. Set and for loop

In [ ]:
st={777,888,999,777}
for x in st:
    print(x)
st={'GGG','HHH','III','GGG'}
for x in st:
    print(x)

888
777
999
HHH
GGG
III

11. Dictionary and for loop

In [ ]:
dct={'aa':777,'bb':888,'cc':999}
for x in dct:
    print(x,'--->',dct[x])

aa ---> 777
bb ---> 888
cc ---> 999

12. Indexing of lists

In [61]:
lst = [11, 22, 33, 44, 55, 66, 77, 88, 99] # A list

print(lst[0])
print(lst[8])
print(lst[1])
print(lst[-1])
print(lst[-9])

# What will happen if you execute the following code?

# print(lst[9])

11
99
22
99
11

13. Slicing lists and tuples

In [ ]:
lst = [11, 22, 33, 44, 55, 66, 77, 88, 99] # A list

print(lst[::])
print(lst[::2])
print(lst[::3])
print(lst[1::])
print(lst[3::])
print(lst[:9:])
print(lst[:5:])
print(lst[2:])
print(lst[::-1])

tpl = (111, 222, 333, 444, 555, 666, 777, 888, 999) # A tuple

print(tpl[::])
print(tpl[::2])
print(tpl[::3])
print(tpl[1::])
print(tpl[3::])
print(tpl[:9:])
print(tpl[:5:])
print(tpl[2:])
print(tpl[::-1])

[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 33, 55, 77, 99]
[11, 44, 77]
[22, 33, 44, 55, 66, 77, 88, 99]
[44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55]
[33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]
(111, 222, 333, 444, 555, 666, 777, 888, 999)
(111, 333, 555, 777, 999)
(111, 444, 777)
(222, 333, 444, 555, 666, 777, 888, 999)
(444, 555, 666, 777, 888, 999)
(111, 222, 333, 444, 555, 666, 777, 888, 999)
(111, 222, 333, 444, 555)
(333, 444, 555, 666, 777, 888, 999)
(999, 888, 777, 666, 555, 444, 333, 222, 111)

14. Reading a file

You might be getting an error. Why?

In [62]:
f=open("input.txt","r")
print(f.read())
for i in f:
    print(i)

AAA 111
BBB 222
CCC 333
DDD 444

15. Writing a file

In [ ]:
f=open("output.txt","w")
for i in range(5):
    f.write(str(i)*10+'\n')

Where can you find the new file "output.txt" created by this Python script?